In [1]:
import pandas as pd
import os
from datetime import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.__version__

'1.3.5'

In [3]:
str_none_date = "1111-11-11"

df_sg = pd.read_csv("sg_fx_info.csv")
df_sg

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
0,AAA_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,"{'id': 111, 'name': 'simon'}",2024-02-24,2024-03-20
1,BBB_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12
2,CCC_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,retake,electric,retake,"{'id': 111, 'name': 'simon'}",2024-02-20,2024-03-01
3,DDD_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,done,ocean,done,"{'id': 444, 'name': 'mendy'}",NaN,NaN
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,omt,smoke,omt,"{'id': 666, 'name': 'luka'}",2024-11-11,2024-12-24

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
0,AAA_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,"{'id': 111, 'name': 'simon'}",2024-02-24,2024-03-20
1,BBB_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12
2,CCC_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,retake,electric,retake,"{'id': 111, 'name': 'simon'}",2024-02-20,2024-03-01
3,DDD_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,done,ocean,done,"{'id': 444, 'name': 'mendy'}",NaN,NaN
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,omt,smoke,omt,"{'id': 666, 'name': 'luka'}",2024-11-11,2024-12-24

'R&D'

In [239]:
        # self.df_sg.start_date = self.df_sg.start_date.fillna(str_none_date) # change none date
        # self.df_sg.due_date = self.df_sg.due_date.fillna(str_none_date) # change none date

df_sg["start_date"].fillna(str_none_date, inplace=True)
df_sg["due_date"].fillna(str_none_date ,inplace=True) # change none date
df_sg

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
0,AAA_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,"{'id': 111, 'name': 'simon'}",2024-02-24,2024-03-20
1,BBB_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12
2,CCC_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,retake,electric,retake,"{'id': 111, 'name': 'simon'}",2024-02-20,2024-03-01
3,DDD_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,done,ocean,done,"{'id': 444, 'name': 'mendy'}",1111-11-11,1111-11-11
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,omt,smoke,omt,"{'id': 666, 'name': 'luka'}",2024-11-11,2024-12-24

In [240]:
def redefine_date(str_date):
    dt_date = datetime.strptime(str(str_date), "%Y-%m-%d")
    return dt_date

def redefine_past_start_date(start_date):
    dt_start_date = redefine_date(start_date)
    if dt_start_date.date() < datetime.now().date():
        return True
    else:
        return False

In [241]:
df_sg

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
0,AAA_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,"{'id': 111, 'name': 'simon'}",2024-02-24,2024-03-20
1,BBB_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12
2,CCC_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,retake,electric,retake,"{'id': 111, 'name': 'simon'}",2024-02-20,2024-03-01
3,DDD_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,done,ocean,done,"{'id': 444, 'name': 'mendy'}",1111-11-11,1111-11-11
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,omt,smoke,omt,"{'id': 666, 'name': 'luka'}",2024-11-11,2024-12-24

In [242]:
df_sg.head(2)
df_sg.tail(2)

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.118,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.474,-0.000007,R&D,omt,smoke,omt,"{'id': 666, 'name': 'luka'}",2024-11-11,2024-12-24

In [243]:
df_sg[["shot_code", "project", "status", "task", "shot_status"]]

  shot_code project  status      task shot_status
0   AAA_001     R&D  assign  electric      assign
1   BBB_001     R&D     wip  electric         wip
2   CCC_001     R&D  retake  electric      retake
3   DDD_001     R&D    done     ocean        done
4   EEE_001     R&D     hld      fire         dir
5   FFF_001     R&D     omt     smoke         omt

In [244]:
sorted(df_sg["task"].drop_duplicates().to_list())

['electric', 'fire', 'ocean', 'smoke']

In [245]:
list_works = []

In [246]:
df_sg[(df_sg["shot_code"] == "AAA_001")]
list_works.extend(df_sg[(df_sg["shot_code"] == "AAA_001")].to_dict("records"))
list_works[0]

{'shot_code': 'AAA_001',
 'geo_type': 'pighead',
 'cam_transform_x': -2.7043,
 'cam_transform_y': 2.50581,
 'cam_transform_z': 4.06212,
 'cam_rotation_x': -30.4744,
 'cam_rotation_y': -38.8465,
 'cam_rotation_z': -3.05957e-06,
 'project': 'R&D',
 'status': 'assign',
 'task': 'electric',
 'shot_status': 'assign',
 'user': "{'id': 111, 'name': 'simon'}",
 'start_date': '2024-02-24',
 'due_date': '2024-03-20'}

In [247]:
df_sg[df_sg["cam_rotation_y"]>100]

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
1,BBB_001,templatebody,0.207684,3.17331,-2.52276,-40.0752,174.118,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12
4,EEE_001,templatebody,0.207684,3.17331,-2.52276,-40.0752,174.118,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07

In [248]:
 # (shot_status == 'omt' | shot_status == 'wip' | shot_status == 'dir' | shot_status == 'retake' | shot_status == 'done' | shot_status == 'assign' | shot_status == 'hld' | shot_status == 'out') & (status == 'pubr' | status == 'wip' | status == 'assign' | status == 'retake')

query = "(task == 'electric' | task == 'fire') & (shot_status == 'assign' | shot_status == 'wip')"
df_sg.query(query)

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
0,AAA_001,pighead,-2.704300,2.50581,4.06212,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,"{'id': 111, 'name': 'simon'}",2024-02-24,2024-03-20
1,BBB_001,templatebody,0.207684,3.17331,-2.52276,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12

#  Animation pub 관련 정보 가져오기.

In [249]:
df_ani_pub = pd.read_csv("sg_ani_pub_info.csv")

df_ani_pub

  shot_code project pub_status  pub_ver           updated_at
0   AAA_001     R&D        pub        4  2024-02-10 10:50:38
1   BBB_001     R&D        pub        4  2024-02-12 13:20:38
2   CCC_001     R&D        pub        4  2024-02-20 11:10:10
3   DDD_001     R&D       tpub        7  2024-03-01 11:10:10
4   EEE_001     R&D     retake        2  2024-04-02 18:20:10
5   FFF_001     R&D        wtg        1  2024-04-02 11:15:50
6   AAA_001     R&D        pub        8  2024-03-01 13:10:10
7   BBB_001     R&D        pub        9  2024-04-02 20:20:10
8   CCC_001     R&D        pub       10  2024-04-02 15:15:50
9   CCC_001     R&D        pub       12  2024-04-02 20:15:50

In [250]:
# idxmax와 idxmin은 각각 축에서 최대/최소값의 인덱스를 반환하는 메서드입니다.
df_ani_pub.groupby(["shot_code"])["pub_ver"].idxmax()

shot_code
AAA_001    6
BBB_001    7
CCC_001    9
DDD_001    3
EEE_001    4
FFF_001    5
Name: pub_ver, dtype: int64

In [251]:
df_ani_pub.loc[[0, 1]]

  shot_code project pub_status  pub_ver           updated_at
0   AAA_001     R&D        pub        4  2024-02-10 10:50:38
1   BBB_001     R&D        pub        4  2024-02-12 13:20:38

In [252]:
df_ani_pub = df_ani_pub.loc[df_ani_pub.groupby(["shot_code"])["pub_ver"].idxmax()]
df_ani_pub

  shot_code project pub_status  pub_ver           updated_at
6   AAA_001     R&D        pub        8  2024-03-01 13:10:10
7   BBB_001     R&D        pub        9  2024-04-02 20:20:10
9   CCC_001     R&D        pub       12  2024-04-02 20:15:50
3   DDD_001     R&D       tpub        7  2024-03-01 11:10:10
4   EEE_001     R&D     retake        2  2024-04-02 18:20:10
5   FFF_001     R&D        wtg        1  2024-04-02 11:15:50

In [253]:
dict_rename = {"pub_status": "ani_pub_status" , "pub_ver":"ani_pub_ver" , "updated_at": "ani_pub_updated_time"}
df_ani_pub.rename(columns=dict_rename, inplace=True)
df_ani_pub = df_ani_pub[["shot_code", "ani_pub_status", "ani_pub_ver", "ani_pub_updated_time"]]
df_ani_pub

  shot_code ani_pub_status  ani_pub_ver ani_pub_updated_time
6   AAA_001            pub            8  2024-03-01 13:10:10
7   BBB_001            pub            9  2024-04-02 20:20:10
9   CCC_001            pub           12  2024-04-02 20:15:50
3   DDD_001           tpub            7  2024-03-01 11:10:10
4   EEE_001         retake            2  2024-04-02 18:20:10
5   FFF_001            wtg            1  2024-04-02 11:15:50

In [254]:
#df_ani_pub.loc[6] = ["GGG_001", "tpub", 3, "ddd"]

#df_ani_pub.append({'shot_code':'GGG_001','ani_pub_status':'tpub', 'ani_pub_ver':'1','ani_pub_updated_time':"`1"}, ignore_index=True)

In [255]:
pd.merge(df_sg, df_ani_pub, on="shot_code", how="left")

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date,ani_pub_status,ani_pub_ver,ani_pub_updated_time
0,AAA_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,"{'id': 111, 'name': 'simon'}",2024-02-24,2024-03-20,pub,8,2024-03-01 13:10:10
1,BBB_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12,pub,9,2024-04-02 20:20:10
2,CCC_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,retake,electric,retake,"{'id': 111, 'name': 'simon'}",2024-02-20,2024-03-01,pub,12,2024-04-02 20:15:50
3,DDD_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,done,ocean,done,"{'id': 444, 'name': 'mendy'}",1111-11-11,1111-11-11,tpub,7,2024-03-01 11:10:10
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07,retake,2,2024-04-02 18:20:10
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,omt,smoke,omt,"{'id': 666, 'name': 'luka'}",2024-11-11,2024-12-24,wtg,1,2024-04-02 11:15:50

# Ani Status

In [256]:
df_ani_status = pd.read_csv("sg_ani_status_info.csv")
#df_ani_status.append({'shot_code':None,'project':'test', 'status':'ttt'}, ignore_index=True)
df_ani_status = df_ani_status.dropna(subset=["shot_code"])
df_ani_status

  shot_code project  status
0   AAA_001     R&D  assign
1   BBB_001     R&D     wip
2   CCC_001     R&D  retake
3   DDD_001     R&D    done
4   EEE_001     R&D     hld
5   FFF_001     R&D     omt

In [257]:
df_ani_status.rename(columns={"status":"ani_status"}, inplace=True)
df_ani_status = df_ani_status[["shot_code", "ani_status"]]
df_ani_status

  shot_code ani_status
0   AAA_001     assign
1   BBB_001        wip
2   CCC_001     retake
3   DDD_001       done
4   EEE_001        hld
5   FFF_001        omt

In [258]:
pd.merge(df_sg, df_ani_status, on="shot_code", how="left")

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date,ani_status
0,AAA_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,"{'id': 111, 'name': 'simon'}",2024-02-24,2024-03-20,assign
1,BBB_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,"{'id': 111, 'name': 'simon'}",2024-02-22,2024-03-12,wip
2,CCC_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,retake,electric,retake,"{'id': 111, 'name': 'simon'}",2024-02-20,2024-03-01,retake
3,DDD_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,done,ocean,done,"{'id': 444, 'name': 'mendy'}",1111-11-11,1111-11-11,done
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,hld,fire,dir,"{'id': 555, 'name': 'silva'}",2024-04-07,2024-05-07,hld
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,omt,smoke,omt,"{'id': 666, 'name': 'luka'}",2024-11-11,2024-12-24,omt

# user

In [260]:
user_info = {}
def redefine_user(str_data):
    dict_data = eval(str_data)
    user_id = str(dict_data["id"])
    user_name = dict_data['name']
    user_info[user_id] = user_name
    return user_id
df_sg['user'] = df_sg['user'].apply(redefine_user)
df_sg

,shot_code,geo_type,cam_transform_x,cam_transform_y,cam_transform_z,cam_rotation_x,cam_rotation_y,cam_rotation_z,project,status,task,shot_status,user,start_date,due_date
0,AAA_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,assign,electric,assign,111,2024-02-24,2024-03-20
1,BBB_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,wip,electric,wip,111,2024-02-22,2024-03-12
2,CCC_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,retake,electric,retake,111,2024-02-20,2024-03-01
3,DDD_001,pighead,-2.704300,2.505810,4.062120,-30.4744,-38.8465,-0.000003,R&D,done,ocean,done,444,1111-11-11,1111-11-11
4,EEE_001,templatebody,0.207684,3.173310,-2.522760,-40.0752,174.1180,-0.000006,R&D,hld,fire,dir,555,2024-04-07,2024-05-07
5,FFF_001,templatehead,0.400994,0.650936,0.834343,-28.4560,28.4740,-0.000007,R&D,omt,smoke,omt,666,2024-11-11,2024-12-24

In [261]:
user_info

{'111': 'simon', '444': 'mendy', '555': 'silva', '666': 'luka'}

In [21]:
test = df_sg.loc[(df_sg.shot_code == 'AAA_001') & (df_sg.task == 'electric')]
test["project"].values[0]

'R&D'

'C:\\Class'